<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>

    <httpErrors errorMode="Custom" existingResponse="Auto" >
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="https://www.greek-painters.com/vo/food/7-6-dang/URLRewrite.asp" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="https://www.greek-painters.com/vo/food/7-6-dang/errorpage.asp" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="100" path="https://www.greek-painters.com/vo/food/7-6-dang/errorpage.asp" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="https://www.greek-painters.com/vo/food/7-6-dang/URLRewrite.asp" responseMode="ExecuteURL" />

    </httpErrors>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

  </system.webServer>


  <system.web>
<!--
    <httpRuntime
    requestValidationMode="2.0"
    requestPathInvalidCharacters="&lt;,&gt;,*,%,:,&amp;,\"
    relaxedUrlToFileSystemMapping="true"
    />


  <customErrors mode="RemoteOnly" defaultRedirect="https://www.greek-painters.com/vo/food/7-4-dang/errorpage.asp" redirectMode="ResponseRewrite">
    <error statusCode="403" redirect="https://www.greek-painters.com/vo/food/7-4-dang/URLRewrite.asp" />
    <error statusCode="404" redirect="https://www.greek-painters.com/vo/food/7-4-dang/URLRewrite.asp" />
    <error statusCode="500" redirect="https://www.greek-painters.com/vo/food/7-4-dang/errorpage.asp" />
  </customErrors>
-->

  </system.web>
</configuration>


