html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin:0;
	padding:0;
		}
body {
    background: #fff none repeat-x;
    font: 76%/160% "Trebuchet MS" ,Verdana,Arial,Helvetica,sans-serif;
}

h1 {
	padding: 20px;
	text-align:center;
}

h2 {
    margin: 10px 0px 2px 0px;
}

p {
    text-align: left;
}


td p {
	text-align:center;
	}	
	
a.buttonlink:hover,
a.buttonlink:focus {
	color:#f03b58;
	/*border-bottom:1px solid #f03b58;
	text-decoration:none;*/
	}
table a.buttonlink, table a.buttonlink:link, table a.buttonlink:visited {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #FFCCFF;
    padding: 1px 3px 1px 3px;
    margin: 1px 2px 1px 2px;
}

table a.buttonlink:hover {
    background-color: #FF6699;
}

a.buttonlink:link {
	color:#d42945;
	text-decoration:none;
	/*border-bottom:1px dotted #ffbac8;*/
	}	
a.buttonlink:visited {
	color:#d42945;
	/*border-bottom:none;*/
	/*text-decoration:none;*/
	}	
	
img {
	border:0;
	margin-top:.5em;
	}	
table {
	width:90%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
		border-collapse:collapse;
	}
caption {
	color: #9ba9b4;
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}

tr em {
    font-size: larger;
    font-weight: bolder;
    color: #666666;
}

td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
	}		

tr:nth-child(odd) td	{
	background:#f7fbff
}

tr:first-child td {
    background-color: #CCFF99;
}

td:first-child {
    font-weight: bolder;
    font-style: italic;
}

th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}							
thead th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}	
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}

article {
    margin-left: 10%;
    margin-right: 10%;
}