<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  
</head>
<body>
<br><br>


<div class="container">
  <div class="row">

    <!-- //left side -->
    <div class="col-sm-3 col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Category
        </a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" href="#" class="list-group-item">Meal Deals</a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" href="#" class="list-group-item">Burgers</a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" href="#" class="list-group-item">Kids Meals</a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" href="#" class="list-group-item">Fries &amp; Sides</a>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" href="#" class="list-group-item">Drinks</a>
      </div>
    </div>

    <!-- //middle side -->
    <div class="col-sm-7 col-md-7">
      <div class="panel-group panel-group-common" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- /1st collapse -->
        <div id="bn" class="panel panel-default">
          <div class="panel-heading bn1" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <i class="more-less glyphicon glyphicon-menu-up"></i>
                Meal Deals
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Any 2 Burger</p>
        			<p>Choice of any 2 Burgers & Fries, 1 BBQ Beans, 1 Coleslaw and a Choice of Bottle of drink.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$19.00</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Family Deal</p>
        			<p>Any 2 Burgers & Fries, Any 2 Kids Meals, 1 BBQ Beans, 1 Coleslaw and a Choice of Bottle of drink.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$25.00</p>
            			<a href="#" class="opt">Options</a>
                        
        		</div>
            </div><!--panel body-->
            
          </div>
        </div>

        <!-- //2nd collapse-->
        <div id="bn" class="panel panel-default">
          <div class="panel-heading bn1" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <i class="more-less glyphicon glyphicon-menu-down
"></i>
                Burgers
                <p class="p1">All Burgers served with Skinny Fries, Sweet Potato Fries or Onion Rings</p>
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Avocado & bacon</p>
        			<p>Smoked Streaky Bacon, Sliced Avocado, Rocket, Beef Tomato, Red Onion and Mayo Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.50</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Bacon & Cheese</p>
        			<p>Mature Cheddar, Smoked Streaky Bacon, Lettuce, Beef Tomato, Red Onion, Mayo, and House Relish Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.35</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
             <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Bacon & Cheese</p>
        			<p>Mature Cheddar, Smoked Streaky Bacon, Lettuce, Beef Tomato, Red Onion, Mayo, and House Relish Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.35</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
             <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">BBQ Pulled Pork</p>
        			<p>Topped with BBQ pulled pork and red leicester cheese, Lettuce, Beef Tomato, Red Onion, Mayo, Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.35</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Brie & Cranberry</p>
        			<p>Brie, Lettuce, Beef Tomato, Red Onion, Mayo, and Cranberry Sauce Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.50</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Cheese Classic </p>
        			<p>Mature Cheddar, Lettuce, Beef Tomato, Red Onion, Mayo, and House Relish Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$8.25</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Classic  </p>
        			<p>Lettuce, Beef Tomato, Red Onion, Mayo, and House Relish. Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$7.95</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Classic American  </p>
        			<p>Mature Cheddar, Smoked Streaky Bacon, Fried Onions, Burger Sauce, Gherkins, Lettuce, Beef Tomato and Red Onion, Served with Skinny Fries, Sweet Potato Fries or Onion Rings.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$9.45</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
          </div>
        </div>

        <!-- //3rd collapse-->
        <div id="bn" class="panel panel-default">
          <div class="panel-heading bn1" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <i class="more-less glyphicon glyphicon-menu-down
"></i>
                Kids Meals
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Kids Beef  </p>
        			<p>Served With Mayo, Lettuce, Skinny fries & Drink.</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$3.45</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
            <div class="panel-body">
             <div class="meal col-lg-12">
    			<p id="burger1">Kids Beef Cheese</p>
        			<p>Served With Cheese, Mayo, Lettuce, Skinny fries & Drink</p>
			</div><!--meal-->
            	<div class="price col-lg-2">
        			<p>$4.25</p>
            			<a href="#" class="opt">Options</a>
        		</div>
            </div><!--panel body-->
          </div>
        </div>

        <!-- //4th collapse-->
        <div id="bn" class="panel panel-default">
          <div class="panel-heading bn1" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <i class="more-less glyphicon glyphicon-menu-down"></i>
                Fries &amp; Sides
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              Fries &amp; Sides - Put Content here.
            </div>
          </div>
        </div>

        <!-- //5th collapse-->
        <div id="bn" class="panel panel-default">
          <div class="panel-heading bn1" role="tab" id="heading5">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <i class="more-less glyphicon glyphicon-menu-down"></i>
                Drinks
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              Drinks - Put Content here.
              
            </div>
            
          </div>
        </div>

      </div>
    </div>


    <!-- //right side -->
    <div class="col-sm-2 col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Right Side Panel
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Right Side Panel
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Right Side Panel
        </div>
      </div>
    </div>
  </div>
</div>





<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
	
<script type="text/javascript">
// collapse functionality for plus and minus
function toggleIcon(e) {
  $(e.target).prev('.panel-heading').find(".more-less")
    .toggleClass('glyphicon-menu-down glyphicon-menu-up');
  }
  $('.panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>

</body>
</html>